<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Drinko³</title>
        <%- include('./common/vendors') %>
    </head>
    <body>
        <%- include('./common/alert') %>
        <main>
            <h1 class="text-center">Drinko³</h1>
        </main>
        <%- include('./common/scripts') %>
        <script src="/js/lib/socketio.js"></script>
        <script src="/js/game/comms.js"></script>
        <script src="/js/game/comms_errors.js"></script>
        <script src="/js/game/join.js"></script>
    </body>
</html>