<div class="alert alert-red">
    <p class="alert-icon">
        <i class="fa-solid fa-triangle-exclamation" aria-description="Alert"></i>
    </p>
    <p>
        <strong>This is an alpha version of the game.</strong>
        Expect game-breaking bugs, crashes, and errors.
    </p>
</div>
<div class="alert hidden" id="alert-box">
    <p class="alert-icon" id="alert-icon"></p>
    <p id="alert-message"></p>
</div>